.chart-page{
    width: auto;
    height: auto;
    padding: 30px;
    text-align: center;
}

.chart-container{
    width: 500px;
    height: 250px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.download-chart-btn{
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background-color:white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}