body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container-box {
  background: white;
  padding: 10px 40px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 600px;
  margin: 50px auto;
}

h1, h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 80px;
}

input:focus,
textarea:focus {
  border-color: #2980b9;
  outline: none;
}

.input-phone, .input-gst, .input-state, .input-city{
    width: 220px;
}

.div-row-1{
    display: flex;
    gap: 90px;
}

.div-row-2{
    display: flex;
    gap: 90px;
}

.sup-button-row {
  display: flex;
  gap: 100px;
  margin-top: 20px;   
}

.sup-button-row button:first-child {
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 2px;
  background: #007bff;
  color: white;
}

.sup-button-row button:last-child {
   padding: 10px;
  width: 250px;
  border: none;
  border-radius: 2px;
  background: #6c757d;
  color: white;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
